body{
    background-color: rgb(71, 55, 194);
}

h1,h3
{
padding-bottom: -100px;
background-color: rgb(255, 255, 255);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
canvas
{
    position: center;
    border-color: white;
    border-left: 3;
   border-radius: 20;
    box-shadow: 5px 5px 30px;
}
video
{
    background-color: #A4DBE8;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 4px 4px 30px rgb(65, 65, 244);
}

.copy_right_footer 
{
position: fixed;
color:rgb(219, 10, 10);
font-weight: bolder;
bottom: 0;
width: 100%;
background-color: rgb(255, 255, 255);
line-height: 3;
text-align:center;
}